<h1 style="text-align:center">It's Movie Time!</h1>

<div class="container d-flex align-items-center justify-content-center">
    <div class="text-center">
        <br />
        <br />
        <div class="container mt-4">
            <a class="btn btn-primary mr-2" asp-action="MovieSearchForm">Movie Search Form</a>
            <a class="btn btn-success" asp-action="MovieNightForm">Movie Night Form</a>
        </div>
    </div>
</div>
